---
release_tags: &release_tags
  tags:
    only: /^v\d+(\.\d+){2}(-.*)?$/

unit_tests: &unit_tests
  steps:
    - checkout
    - run: npm install
    - run: npm run test-only
    - run:
        name: Submit coverage data to codecov.
        command: npm run codecov
        when: always

version: 2.0
workflows:
  version: 2
  tests:
    jobs:
      - node4:
          filters: *release_tags
      - node6:
          filters: *release_tags
      - node8:
          filters: *release_tags
      - node9:
          filters: *release_tags
      - node10:
          filters: *release_tags
      - lint:
          requires:
            - node4
            - node6
            - node8
            - node9
            - node10
          filters: *release_tags
      - publish_npm:
          requires:
            - lint
          filters:
            branches:
              ignore: /.*/
            <<: *release_tags

jobs:
  node4:
    docker:
      - image: node:4
        user: node
    <<: *unit_tests
  node6:
    docker:
      - image: node:6
        user: node
    <<: *unit_tests
  node8:
    docker:
      - image: node:8
        user: node
    <<: *unit_tests
  node9:
    docker:
      - image: node:9
        user: node
    <<: *unit_tests
  node10:
    docker:
      - image: node:10
        user: node
    <<: *unit_tests
  lint:
    docker:
      - image: node:8
        user: node
    steps:
      - checkout
      - run: npm install
      - run: npm run check
  publish_npm:
    docker:
      - image: node:8
        user: node
    steps:
      - checkout
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: npm install
      - run: npm publish
